* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

.users{
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;

    h3{
        margin-bottom: 2rem;
    }

    p {
        padding-bottom: .8rem;
    }

    span{
        font-weight: bold;
    }

    p:last-child {
        padding-bottom: 0;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #4a3831;
}

.form-container input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    background-color: #4a3831;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #5e4b42;
}

.toggle-form {
    margin-top: 15px;
    font-size: 14px;
}

.toggle-form a {
    color: #4a3831;
    text-decoration: none;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    display: none;
}

.role-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.role-selection label {
    margin: 0 10px;
}